@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: BCSans;
  src: url('fonts/BC-Sans-Font/BCSans-Regular.woff') format('woff');
}

@font-face {
  font-family: BCSans-Bold;
  font-weight: bold;
  src: url('fonts/BC-Sans-Font/BCSans-Bold.woff') format('woff');
}
